.container-card {
    padding-left: 220px;
    padding-right: 220px;
}

.bg-header-index {
    height: 450px;
    background-image: url('/public\media\vecteezy_fast-delivery-package-by-scooter-on-mobile-order-package-in_4987903.jpg');
    background-position: center;
    background-size: cover;
}