.bg-nav {
    background-color: rgb(201, 230, 239);
    padding-left: 85px;
    padding-right: 85px;
    
}

.azioni {
    width: 0px ;
}

/* .dropdown-menu {
    background-color:rgb(201, 230, 239);
} */
.nav-link:hover {
    background-color:rgb(201, 230, 239);
}
.count {
    /* background-color: blue;
    border-radius: 25px; */
    position: relative;
    top: -15px;
    right: 23px;
}

.image-profile {
    width: 30px;
    clip-path: circle();
}

