/* Aggiungi stili a tua discrezione */
.modale {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
}

.modale-contenuto {
    width: 30%;
    height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}

.chiudi {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.chiudi:hover {
  color: black;
}

.icon {
  margin-top: 10px;
}

tbody {
  overflow: scroll !important;
}

.infoUser {
  width: 24vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-right: solid 1px;
  
 
}

.img-profile {
  clip-path: circle();
  width: 150px;
}
.imgAttuale {
  width: 100px;
}
.div-img-attuale {
  display: flex;
  flex-direction: column;
}
.modifica {
  text-decoration: none;
  color: black;
  background-color: #aaa;
  width: 80px;
  border-radius: 10px;
  margin-top: 20vh;
}
.modifica:hover {
  background-color: #9a9a9a;
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
}
